    <footer>
        <nav>
            <ul>
                <li>
                    <a href="/home"><i class="fa fa-home"></i></a>
                    <p>Home</p>
                </li>

                <li>
                    <a href="/card"><i class="fa fa-id-card"></i></a>
                    <p>Shopping Card</p>
                </li>

                <li>
                    <a href="/groceries"><i class="fa fa-shopping-basket"></i></a>
                    <span id="shopping-list-index">0</span>
                    <p>Lijst</p>
                </li>
            </ul>
        </nav>
    </footer>

</body>

<%- include('./meta'); %>

</html>