<%- include('head'); %>

<body>
    <header>
        <ul>
            <li>
                <button id="scan-toggle">
                    <i class="fa fa-barcode"></i>
                </button>
            </li>
            <li>

                <h1>Goodie-Foodie</h1>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-power-off"></i>
                </a>
            </li>
        </ul>
    </header>