<%- include('head'); %>

<body>
    <header>
        <ul>
            <li>
                <label>
                    <i class="fa fa-barcode"></i>
                    <input type="checkbox" name="scanner">
                </label>
 
            </li>
            <li>

                <h1>Goodie-Foodie</h1>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-power-off"></i>
                </a>
            </li>
        </ul>
    </header>