<%- include('partials/header'); %>

<section class="non_found">
    <h1>404</h1>
    <h2>Ooops....Couldn't find what you are looking for...</h2>
    <img src="assets/img/error.gif" alt="ERROR Gif">
    <a href="/home" class="btn">Please try again</a>
</section>

<%- include('partials/footer'); %>