header {
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: darkgray;
    box-shadow: 0px -5px 25px 5px color(secondary);
    z-index: 100;

    h1 {
        font-size: 5vw;
    }

    ul {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        justify-content: center;
        align-items: center;
        padding: .5em;
        
        li {
            button {
                padding: .3em;
                background: none;
                border: 1px solid rgba(0, 0, 0, 0.514);
            }
        }
    }

   .fa {
        font-size: 2em;
    }
}

#shopping-list {
    >aside {
        position: fixed;
        top: 20%;
        left: auto;
        right: 0;
        bottom: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 37.5em;
        transform: translateX(calc(100vw - 2em));
        transition: all 0.3s ease-in;
        z-index: 100;
        
        &:has(input[name="open-filter"]:checked) {
                transform: translateX(calc(100vw - 12em));
            }
        
        @include respond-to(from-md) {
            left: 0;
        }

        > label {
            display: block;
            width: 2em;
            padding: 0.6em 1em;
            cursor: pointer;
            color: color(quaternary);
            background: color(button);
            border-radius: 1em 0 0 1em;

            p {
                margin-top: 5em;
                font-size: 1em;
                transform: rotate(-90deg);
                text-transform: uppercase;
                overflow-wrap: normal;
                }

            input {
                position: absolute;
                left: 9999em;
            }
        }

        div {
            background-color: color(quaternary);
            padding: 25px;
            color: color(button);
            border-top: 1px solid color(highlight);
            border-bottom: 1px solid color(highlight);
            border-right: 3px solid color(button);
        }
    }

    h3:first-letter {
        text-transform: uppercase;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10dvh;
    width: 100%;
    background-color: darkgray;
    box-shadow: 0px 5px 25px 5px color(secondary);
    
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: flex-end;
        width: 100%;

        li {
            position: relative;
            display: block;
            padding: 10px;
            min-width: 48px;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            .fa {
                font-size: 2em;
            }

            p {
                margin-top: .5em;
            }
            span {
                position: absolute;
                top: 10%;
                right: 10%;
                display: none;
                width: 1.2em;
                height: 1.2em;
                border-radius: 50%;
                color: color(quaternary);
                background-color: color(indicator);
                box-shadow: 0px 1px 10px 1px color(indicator);
            }
        }
    }
}