@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: darkgray;
  box-shadow: 0px -5px 25px 5px black;
  z-index: 100;
}
header h1 {
  font-size: 5vw;
}
header ul {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
header ul label {
  display: inline-block;
  width: 3em;
  padding: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.5137254902);
}
header .fa {
  font-size: 2em;
}

#shopping-list > aside {
  position: fixed;
  top: 20%;
  left: auto;
  right: 0;
  bottom: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 37.5em;
  transform: translateX(calc(100vw - 2em));
  transition: all 0.3s ease-in;
  z-index: 100;
}
#shopping-list > aside:has(input[name=open-filter]:checked) {
  transform: translateX(calc(100vw - 12em));
}
@media screen and (min-width: 768px) {
  #shopping-list > aside {
    left: 0;
  }
}
#shopping-list > aside > label {
  display: block;
  width: 2em;
  padding: 0.6em 1em;
  cursor: pointer;
  color: #FFFFFF;
  background: #2E9BD8;
  border-radius: 1em 0 0 1em;
}
#shopping-list > aside > label p {
  margin-top: 5em;
  font-size: 1em;
  transform: rotate(-90deg);
  text-transform: uppercase;
  overflow-wrap: normal;
}
#shopping-list > aside > label input {
  position: absolute;
  left: 9999em;
}
#shopping-list h3:first-letter {
  text-transform: uppercase;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10dvh;
  width: 100%;
  background-color: darkgray;
  box-shadow: 0px 5px 25px 5px black;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: flex-end;
  width: 100%;
}
footer ul li {
  position: relative;
  display: block;
  padding: 10px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer ul li .fa {
  font-size: 2em;
}
footer ul li p {
  margin-top: 0.5em;
}
footer ul li span {
  position: absolute;
  top: 10%;
  right: 10%;
  display: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: red;
  box-shadow: 0px 1px 10px 1px red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
form#login-form img {
  width: 14em;
  margin-left: auto;
  margin-right: auto;
}
form#search-form {
  margin: 1em 0;
}
form#search-form fieldset {
  display: flex;
  align-items: center;
  margin: 0;
}
form#search-form input {
  height: 2em;
  width: 80%;
  border-radius: 0.5em 0 0 0.5em;
}
form#search-form button {
  height: 2em;
  border-radius: 0 0.5em 0.5em 0;
  width: 20%;
}
form#filter-form {
  max-width: 10em;
  padding: 25px;
  text-align: left;
  color: #2E9BD8;
  background-color: #FFFFFF;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 3px solid #2E9BD8;
}
form#filter-form fieldset {
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0.2em 0;
}
form#filter-form fieldset input {
  width: fit-content;
}
form input,
form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form input[type=submit] {
  margin: 8px 0;
}
form#add-product-form fieldset {
  align-items: center;
}
form#add-product-form fieldset input[type=number], form#add-product-form fieldset .btn {
  width: 30%;
}
form#add-product-form fieldset input[type=number] {
  margin: 0 0.5em;
}
form .form-respond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form .form-respond div {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 100px 500px #000000;
}
form .form-respond div h1 {
  letter-spacing: -1px;
  margin-bottom: 20px;
  color: #4a494b;
}
form .form-respond div a {
  width: 100%;
  background-color: #29a766;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
form .form-respond div a:hover {
  background-color: #005636;
}
form .form-respond div p:last-of-type {
  line-height: 20px;
  margin-bottom: 20px;
}
form fieldset:first-of-type {
  justify-content: space-between;
}
form fieldset:first-of-type img {
  height: 4em;
}
form fieldset:last-of-type {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
form#edit-product-form {
  display: grid;
}
form#edit-product-form img {
  height: 9em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
form#registration-form fieldset:has(input:valid:not(:placeholder-shown)):not(:last-of-type) input {
  background-color: #b0ffb0;
}
form#registration-form fieldset:nth-of-type(5),
form#registration-form fieldset:nth-of-type(6) {
  display: grid;
}
form#registration-form fieldset:nth-of-type(5) p,
form#registration-form fieldset:nth-of-type(6) p {
  font-size: 0.5em;
  font-style: italic;
  opacity: 0.5;
  margin: 0.4em 0;
}
form#registration-form fieldset:nth-of-type(5) p.error-text,
form#registration-form fieldset:nth-of-type(6) p.error-text {
  display: none;
  opacity: 1;
  color: red;
  font-style: italic;
}
form#registration-form .form-field-required label {
  position: relative;
}
form#registration-form .form-field-required label::after {
  content: "*";
  color: red;
  position: absolute;
  top: -4px;
  padding-left: 5px;
}
form#registration-form .form-field-required.invalid input {
  border: 2px solid red;
}
form#registration-form .form-field-required.invalid input::placeholder {
  color: red;
  font-style: italic;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

#filters h2 {
  margin-bottom: 1em;
  font-size: 1em;
}
#filters input[type=radio] {
  margin-right: 1em;
}
#filters input[type=submit] {
  margin-top: 2em;
}

.required {
  padding: 0.2em;
  border: 2px solid red;
}

.nutriscore {
  display: flex;
  padding: 1em;
}
.nutriscore li {
  display: inline-block;
  padding: 1.5em;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  /*A*/
  /*B*/
  /*C*/
  /*D*/
  /*E*/
}
.nutriscore li:nth-child(1) {
  background: #387F46;
  border-radius: 0.6em 0 0 0.6em;
}
.nutriscore li:nth-child(2) {
  background: #92BA47;
}
.nutriscore li:nth-child(3) {
  background: #F6CD46;
}
.nutriscore li:nth-child(4) {
  background: #E08731;
}
.nutriscore li:nth-child(5) {
  background: #D54A26;
  border-radius: 0 0.6em 0.6em 0;
}
.nutriscore .currentScore {
  position: relative;
  margin: 0 -0.4em;
  padding: 1em 1.5em;
  border: 0.2em solid #FFFFFF;
  border-radius: 0.8em;
  color: #FFFFFF;
}

body:has(div.open) main {
  filter: blur(7px);
}

body:has([name=scanner]:checked) #scan-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body:has([name=scan-card]:checked) #scan-card-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

input[name=scanner],
input[name=scan-card] {
  display: none;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  width: 90%;
  height: auto;
  padding: 1em;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.3s;
  z-index: 10;
}
.pop-up img {
  width: 7em;
  margin-bottom: 1em;
}
.pop-up h2 {
  font-size: 1.3em;
  transition: 1s;
}
@media screen and (min-width: 768px) {
  .pop-up h2 {
    font-size: 2.5em;
  }
}
.pop-up p {
  margin-bottom: 1em;
  transition: 1s;
}
@media screen and (min-width: 768px) {
  .pop-up p {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .pop-up {
    width: calc(100% - 2.5em);
    max-width: 900px;
  }
}
.pop-up#complete-pop-up p {
  font-style: italic;
}
.pop-up#complete-pop-up img {
  width: 5em;
}
.pop-up#error-pop-up h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.pop-up#error-pop-up img {
  width: 7em;
}
.pop-up#start-pop-up div {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  margin: 1.5em 0;
}
.pop-up#start-pop-up div a {
  width: 50%;
}
.pop-up#start-pop-up div a:last-of-type {
  text-decoration: underline;
}
.pop-up#start-pop-up div a:last-of-type:hover {
  color: #0d35e6;
}
.pop-up#registration-pop-up {
  height: 14em;
}
.pop-up#loading-pop-up {
  max-width: 20em;
  height: 14em;
}
.pop-up#loading-pop-up h1 {
  margin-top: 1.7em;
  color: #2E9BD8;
  font-style: italic;
}
.pop-up#loading-pop-up .slider {
  position: absolute;
  top: 50%;
  width: 90%;
  height: 2px;
}
.pop-up#loading-pop-up .slider div {
  position: absolute;
  background: #2E9BD8;
  width: 100%;
  height: 2px;
}
.pop-up#loading-pop-up .slider span {
  position: absolute;
  background: #FFFFFF;
  width: 6px;
  height: 2px;
}
.pop-up#loading-pop-up .slider span:first-of-type {
  animation: loading 2s infinite;
}
.pop-up#loading-pop-up .slider span:nth-of-type(2) {
  animation: loading 2s 0.5s infinite;
}
.pop-up#loading-pop-up .slider span:last-of-type {
  animation: loading 2s 1s infinite;
}
@keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 17.5em;
  }
}
.pop-up#scan-pop-up {
  width: 70%;
}
.pop-up#scan-pop-up h2 {
  margin-bottom: 1em;
}
.pop-up#scan-pop-up div {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
.pop-up#scan-pop-up div:first-of-type {
  margin: 3em 0;
}
.pop-up#scan-pop-up div input {
  display: none;
}
.pop-up#scan-pop-up div img {
  width: 30%;
}
.pop-up#scan-pop-up div label, .pop-up#scan-pop-up div button {
  width: 50%;
  max-width: 20em;
}
.pop-up#scan-pop-up div label {
  max-width: 18em;
}
.pop-up .close {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  color: inherit;
  transition: all 0.4s;
  cursor: pointer;
}
.pop-up .close:hover {
  color: #0dd8e6;
}
.pop-up.open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn,
#shopping-list button {
  height: 2em;
  font-size: 0.7em;
  padding: 0.5em 1em;
  color: black;
  border-radius: 0.5em;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}
.btn:focus-visible,
#shopping-list button:focus-visible {
  background-color: #1B649C !important;
}
.btn:hover,
#shopping-list button:hover {
  background-color: #0dd8e6 !important;
}
.btn:active,
#shopping-list button:active {
  background-color: #0d35e6 !important;
}
.btn.cancel,
#shopping-list button.cancel {
  width: 100%;
  height: 1.8em;
  text-align: center;
  font-size: 0.7em;
  line-height: 0.8em;
  border: 2px solid #2E9BD8;
  background-color: #FFFFFF;
}
.btn.login,
#shopping-list button.login {
  width: 100%;
}

.hidden {
  display: none !important;
}

main {
  display: grid;
  justify-content: center;
  overflow-y: scroll;
  padding: 2em;
  overflow-x: hidden;
}
main > section:not(#product-detail) {
  width: 100%;
  padding: 1em;
  margin-bottom: 6.25em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  text-align: center;
  font-size: 1.5em;
  transition: 1s;
}
main > section:not(#product-detail).intro {
  margin-bottom: 1em;
}
main > section:not(#product-detail).intro img {
  width: 60%;
}
main > section:not(#product-detail)#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 25em;
  min-width: 13em;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  main > section:not(#product-detail)#welcome {
    width: calc(100vw - 10em);
  }
}
main > section:not(#product-detail)#welcome img {
  height: 10em;
}
main > section:not(#product-detail)#welcome div {
  border-radius: 50%;
  background-color: red;
  width: 80%;
}
main > section:not(#product-detail)#welcome div span {
  font-size: 4em;
}
main > section:not(#product-detail)#welcome div span::after {
  content: "🍍";
  animation: changeFruitEmoji 8s infinite;
}
@keyframes changeFruitEmoji {
  10% {
    content: "🍓";
  }
  20% {
    content: "🍑";
  }
  30% {
    content: "🍋";
  }
  40% {
    content: "🍒";
  }
  50% {
    content: "🍊";
  }
  60% {
    content: "🍌";
  }
  70% {
    content: "🍏";
  }
  80% {
    content: "🍉";
  }
  90% {
    content: "🍇";
  }
  100% {
    content: "🥝";
  }
}
main > section:not(#product-detail)#shopping-card h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
}
main > section:not(#product-detail)#shopping-card > section {
  width: 100%;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div {
  display: flex;
  justify-content: space-between;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div img {
  width: 4em;
  transform: rotate(-22deg) translateY(1.2em);
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:first-of-type {
  width: 100%;
  align-items: center;
  padding-left: 0.5em;
  border-radius: 1em;
  border: 2px solid #2E9BD8;
  overflow: hidden;
  gap: 1em;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:last-of-type {
  gap: 1em;
  margin-top: 1em;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:last-of-type label {
  border-radius: 0.5em;
  text-decoration: none;
  background-color: #2E9BD8;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:last-of-type a {
  border: 2px solid #2E9BD8;
  background-color: #FFFFFF;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div p {
  font-weight: bold;
  width: 8em;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(2) {
  height: auto;
  max-width: 13em;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: deepskyblue;
  border-radius: 1em;
  border: 2px solid #ccc;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(2) p {
  margin-top: 1em;
  color: #FFFFFF;
  font-style: italic;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(2) div {
  border-radius: 1em;
  background-color: #FFFFFF;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(2) div img {
  width: 90%;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(2) img {
  width: 60%;
  margin-top: 1em;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(3) {
  margin-top: 1em;
  padding: 0 2em;
  text-align: center;
}
main > section:not(#product-detail)#shopping-card > section:nth-of-type(3) div {
  margin: 1em 0;
  display: flex;
  gap: 2em;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type {
  width: 70%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ccc;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type button {
  width: 80%;
  margin-top: 1em;
}
main > section:not(#product-detail)#camera {
  height: 100vw;
  background-color: black;
}
main > section:not(#product-detail)#shopping-list li {
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  box-shadow: 1px 5px 12px 0px black;
  border-bottom: 1px solid #ccc;
}
main > section:not(#product-detail)#shopping-list li img {
  width: 50%;
  height: 11em;
  object-fit: contain;
}
main > section:not(#product-detail)#shopping-list li button {
  display: inline-block;
}
main > section:not(#product-detail)#shopping-list li div {
  display: flex;
  align-items: center;
  gap: 1.5em;
  height: auto;
}
@media screen and (max-width: 767px) {
  main > section:not(#product-detail)#shopping-list li div {
    flex-wrap: wrap;
    justify-content: center;
  }
}
main > section:not(#product-detail)#shopping-list li div aside {
  margin-bottom: 1em;
}
main > section:not(#product-detail)#shopping-list li div aside h3 {
  grid-area: Name;
  text-align: left;
}
main > section:not(#product-detail)#shopping-list li div aside div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main > section:not(#product-detail)#shopping-list li div aside div span {
  width: 30%;
  color: #2E9BD8;
}
main > section:not(#product-detail)#shopping-list li div aside section {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 2em;
}
main > section:not(#product-detail)#shopping-list li div aside section p {
  text-align: left;
  line-height: 1.5em;
}
main > section:not(#product-detail)#shopping-list > div {
  margin-top: 2em;
  text-align: left;
}
main > section:not(#product-detail)#shopping-list > div h3 {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
main #product-detail {
  width: 100%;
  padding: 1em;
  margin-bottom: 6.25em;
  transition: 1s;
}
main #product-detail .heading #edit-product-btn {
  width: 3em;
}
main #product-detail .heading div {
  display: flex;
}
main #product-detail .heading div:first-of-type {
  flex-wrap: wrap;
}
main #product-detail .heading div:first-of-type img {
  width: 100%;
  height: 10em;
  margin-bottom: 2em;
  object-fit: contain;
}
main #product-detail .heading div:last-of-type {
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
main #product-detail .heading div:last-of-type p {
  font-size: 1.5em;
}
main #product-detail .heading .increase,
main #product-detail .heading .decrease {
  padding: 0;
  font-weight: 900;
  font-size: 1em;
}
main #product-detail .heading h1 {
  margin-bottom: 1em;
  font-size: 1.5em;
}
main #product-detail article div {
  width: 100%;
  display: flex;
  gap: 2em;
}
main #product-detail article div span,
main #product-detail article div p {
  width: 50%;
}
main #product-detail article div span {
  text-align: right;
}
main #product-detail h2 {
  margin-bottom: 1em;
}
main #product-detail li {
  margin-top: 1em;
  border-bottom: 1px solid #333;
}

#scanner {
  padding: none;
  border: none;
}
#scanner:has(video) {
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
#scanner video {
  width: 100% !important;
  box-shadow: 0px 0px 13em 18em black;
}

#stop-camera-scan {
  position: absolute;
  top: 10%;
  left: 12%;
  display: none;
  height: 2em;
  width: 2em;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

li:hover i,
li:hover i + p {
  color: #0dd8e6;
}
li:focus-visible i,
li:focus-visible i + p {
  color: #1B649C;
}
li:active i,
li:active i + p {
  color: #1B649C;
}

/*# sourceMappingURL=style.css.map */
