<%- include('../partials/head'); %>

<body>

    <%- include('../partials/popup/start'); %>

    <main>
        <section id="welcome">
            <img src="img/logo.png" alt="Goodie Foodie logo">
            <div><span></span></div>
            <a href="/home" class="btn login">Let's get Started</a>
        </section>
    </main>
</body>

<%- include('../partials/meta'); %>