<%- include('../partials/head'); %>

<body>

    <%- include('../partials/popup/start'); %>

    <main>
        <section id="welcome">
            <img src="img/logo.png" alt="Goodie Foodie logo">
            <div><span></span></div>
            <!-- <button class="btn">Let's get Started</button> -->
            <a href="/login" class="btn">Log in</a>
            <a href="/register" class="btn cancel">Don't have an account</a>
        </section>
    </main>
</body>

<%- include('../partials/meta'); %>