<%- include('../partials/head'); %>

<body>
    <main>
        <form id="login-form">
            <img src="img/logo.png" alt="Goodie Foodie logo">
            <fieldset>
                <label for="login-email">Email</label>
                <input type="text" name="login-email" id="login-email">

                <label for="login-psw">Password</label>
                <input type="text" name="login-psw" id="login-psw">
            </fieldset>

            <fieldset>
                <!-- <input type="submit" class="btn" id="login-submit" value="Login"> -->
                <a href="/home" class="btn login">Login</a>
                <a href="/" class="btn cancel">Cancel</a>
            </fieldset>
        </form>
    </main>

</body>

<%- include('../partials/meta'); %>