<%- include('../partials/head'); %>
<body>
    <main>
        <form id="registration-form">
            <fieldset>
                <h1>Registration</h1>
                <img src="img/logo.png" alt="Goodie Foodie logo">
            </fieldset>

            <fieldset class="form-field form-field-required">
                <label for="registration-name">Name</label>
                <input type="text" name="name" id="registration-name" placeholder="Enter your first name">
            </fieldset>

            <fieldset class="form-field form-field-required">
                <label for="registration-surname">Surname</label>
                <input type="text" name="surname" id="registration-surname" placeholder="Enter your surname">
            </fieldset>

            <fieldset>
                <label for="form-field registration-tel">Mobile number</label>
                <input type="tel" name="tel" id="registration-tel" placeholder="Enter your mobile number">
            </fieldset>

            <fieldset class="form-field form-field-required">
                <label for="registration-email"> E-mail</label>
                <p id="error-email" class="error-text"></p>
                <input type="email" name="email" id="registration-email" placeholder="Enter e-mail adress">
            </fieldset>

            <fieldset class="form-field form-field-required">
                <label for="registration-psw">Password</label>
                <p> * Password must be 8 characters long</p>
                <p id="error-pws" class="error-text">Passwoord are not the same, please try again.</p>
                <input type="password" name="psw" id="registration-psw" placeholder="Enter password" pattern="^.{8}$">
            </fieldset>

            <input type="password" name="psw-repeat" id="psw-repeat" placeholder="Please repeat password" pattern="^.{8}$">

            <fieldset>
                <input type="submit" id="registration-sumbit" class="btn" value="Register">
                <a href="/" class="btn cancel">Cancel</a>
            </fieldset>
        </form>
    </main>
</body>

<%- include('../partials/meta'); %>
