<div id="scan-pop-up" class="pop-up">
    <a href="/home" class="close">Close</a>
    <h2>Hey There !</h2>

        <form action="/serach" id="serach-form">
            <fieldset>
                <legend>Search barcode:</legend>
                <input type="search" id="search" name="search_value" />
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
            </fieldset>
        </form>
        <p>Or</p>
     <img src="img/scan.png" alt="Scan icon">
    <button id="start-camera-scan" class="btn"> Scan Barcode</button>
</div>